
<%= link_to "Generate pairs for today", day_match_path,  class:"btn btn-primary btn-lg"%>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Matches History:
      </div>

      <div class="row">
        <% if  Match.count > 0%>
          <% matches_history = Match.matches_history %>
          <% matches_history.each_with_index do |match, i| %>
            <% if i%2==0 %>
              <div class="col-md-8">
                <h4>
                  <%= match.user.name %> (<%= match.user.id %>),
                  <%= match.matched_user.name %> (<%= match.matched_user.id %>)
                </h4>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <div class="col-md-8">
            <p>No history to show yet</p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        Daily Matches
      </div>

      <% matches_of_the_day = Match.matches_per_day(Time.now) %>
      <div class="row" id="todays-matches">
        <% if matches_of_the_day.count > 0 %>
          <% matches_of_the_day.each_with_index do |match, i| %>
            <% if i%2==0 %>
              <div class="col-md-8">
                <h4>
                  <%= match.user.name %>(<%= match.user.id %>),
                  <%= match.matched_user.name %>(<%= match.matched_user.id %>)
                </h4>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <div class="col-md-8">
            <h5>Pairs haven't been generated for this day, please contact your teacher</h5>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
