<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h3>Match of the day:</h3>
      </div>

      <div class="row">
        <% match = Match.matches_per_user(current_user.id).matches_per_day(Time.now) %>
        <% if  match.count > 0 %>
            <% match.each_with_index do |match, i| %>
              <div class="col-md-4">
                <h5>
                  <%= match.user.name %>(<%= match.user.id %>),
                  <%= match.matched_user.name %>(<%= match.matched_user.id %>)
                </h5>
              </div>

              <div class="col-md-2">
                <%= match.created_at.to_date %>
              </div>
          <% end %>
        <% else %>
            <div class="col-md-12 text-center">
              <h4>Pairs haven't been generated for this day, please contact your teacher</h4>
            </div>
        <% end %>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h3>Matches History:</h3>
      </div>

      <div class="row">
        <% matches_history = Match.matches_history.matches_per_user(current_user.id) %>
        <% if  matches_history.count > 0 %>
            <% matches_history.each_with_index do |match, i| %>
              <div class="col-md-4">
                <h5>
                  <%= match.user.name %>(<%= match.user.id %>),
                  <%= match.matched_user.name %>(<%= match.matched_user.id %>)
                </h5>
              </div>

              <div class="col-md-2">
                <p><%= match.created_at.to_date %></p>
              </div>
          <% end %>
        <% else %>
          <div class="col-md-8">
            <p>No history to show yet</p>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
