<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Matches History:
      </div>

      <div class="row">
        <% if  Match.matches_history.count > 0%>
            <% matches_history = Match.matches_history.matches_per_user(current_user.id) %>
            <% matches_history.each_with_index do |match, i| %>
              <div class="col-md-4">
                <h5>
                  <%= match.user.name %>(<%= match.user.id %>),
                  <%= match.matched_user.name %>(<%= match.matched_user.id %>)
                </h5>
              </div>

              <div class="col-md-2">
                <%= match.created_at.to_date %>
              </div>
          <% end %>
        <% else %>
          <div class="col-md-8">
            <p>No history to show yet</p>
          </div>
        <% end %>
      </div>
    </div>



    <div class="panel panel-primary">
      <div class="panel-heading">
        Matches of the day:
      </div>

      <div class="row">
        <% if  Match.matches_per_day(Time.now).count > 0%>
          <% match = Match.matches_per_user(current_user.id).matches_per_day(Time.now) %>
          <div class="col-md-8">
            <h4>
              <%= match.first.user.name %>(<%= match.first.user.id %>),
              <%= match.first.matched_user.name %>(<%= match.first.matched_user.id %>)
            </h4>
          </div>
          <% else %>
            <div class="col-md-8">
              <h4>Pairs haven't been generated for this day, please contact your teacher</h4>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
