<h2>Admin Settings</h2>
<ul>
  <% @users.each do |user| %>
    <li id="<%= user.id%>">
      <%= user.name %>, <%= user.email %> (<%= user.admin ? "Admin" : "Student" %>)
      <p admin=<%=user.admin%> class="toggle_admin btn btn-primary">
        promote/demote
      </p>
    </li>
  <% end %>
</ul>
